* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body {
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0,0,100,0.9),rgba(0,0,0,0.0)),
    url(https://images4.alphacoders.com/843/thumb-1920-84314.jpg) top left no-repeat;
    color: white;
    
}

.container {
    width: 70%;
    min-width: 700px;
    height: 500px;
    padding: 3rem;
    background-color: rgba(0,0,0,0.5);
    margin: 3rem auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
 }

.buttons {
    margin: 2rem
}

.choice {
    height: 60px;
    width: 60px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    background-color: white;
}

.choice:hover {
    box-shadow: 0 0 5px 5px royalblue;
}

.resultBlock {
    display: flex;
    column-gap: 100px;
}


.playerResult, .computerResult {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.resultField {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border: solid white 3px;
    border-radius: 5px 
}

.modal {
    visibility: hidden;
   
    position: absolute;
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    top: 25px;
    left: 25px;
    backdrop-filter: blur(10px);
    background-color: rgba(0,0,30,0.9);
}

h2 {
    font-size: 3rem;
    margin-top: 70px;
}

#reset {
    width: 150px;
    height: 40px;
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: royalblue;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
}

#reset:hover {
    background-color: rgb(40, 40, 143);
}